
<div class="container-fluid">
	<div class="row">
		<div id="charListContainer" class="col-md-8">
			<%- partial('components/charlist') %>
		</div>
		<div class="col-md-4">
			<%- partial('components/addchar') %>
		</div>
	</div>
</div>