<div class="jumbotron bg-success">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h1>Character Tracker</h1>
				<p>A simple character tracker</p>
			</div>
		</div>
	</div>
</div>

<div data-bind="component: 'character-list'"></div>

<!-- the entrypoint for the knockout application -->
<script src="/js/vendor/requirejs/require.js" data-main="/js/tracker.js"></script>