<div class="jumbotron bg-success">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8">
				<h1>Character Tracker</h1>
				<p>A simple character tracker</p>
			</div>
			<div class="col-md-4">
				<ul class="list-group">
					<li class="list-group-item">Knockout.js - Data Binding</li>
					<li class="list-group-item">Require.js - Dependency Management</li>
					<li class="list-group-item">text (require.js) - Templates</li>
					<li class="list-group-item">Also featuring - Bootstrap, Lodash, jQuery</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div data-bind="component: 'character-list'"></div>

<!-- the entrypoint for the knockout application -->
<script src="/js/vendor/require.js" data-main="/js/knockout-app.js"></script>