<div class="jumbotron bg-success">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Character Tracker</h1>
                <p>Unit Tests</p>
            </div>
        </div>
    </div>
</div>

<div id="mocha"><p><a href="/tests">Index</a></p></div>
<div id="messages"></div>
<div id="fixtures"></div>

<!-- the entrypoint for the knockout application -->
<script src="/js/vendor/requirejs/require.js" data-main="/js/tests.js"></script>