<div class="container-fluid">
	<div class="row">
		<div id="charListContainer" class="col-md-8">
			<div class="list-head">
				<div class="col-md-3"><a href="#" data-bind="click: sortByName">Name</a></div>
				<div class="col-md-2">Class</div>
				<div class="col-md-1">Strength</div>
				<div class="col-md-1">Dexterity</div>
				<div class="col-md-1">Vitality</div>
				<div class="col-md-1">Intellect</div>
				<div class="col-md-1">Health</div>
				<div class="col-md-2"></div>
			</div>
			<div class="list-content" data-bind="foreach: characters, visible: characters().length > 0">
				<div class="list-item" data-bind="slideDown">
					<div class="col-md-3" data-bind="text: name">Name</div>
					<div class="col-md-2" data-bind="text: charClass">Class</div>
					<div class="col-md-1" data-bind="text: strength">Strength</div>
					<div class="col-md-1" data-bind="text: dexterity">Dexterity</div>
					<div class="col-md-1" data-bind="text: vitality">Vitality</div>
					<div class="col-md-1" data-bind="text: intellect">Intellect</div>
					<div class="col-md-1" data-bind="text: health">Health</div>
					<div class="col-md-2">
						<div class="pull-right">
							<button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#characterModal" data-bind="click: $parent.viewCharacter">
								<i class="glyphicon glyphicon-folder-open"></i>
							</button>
							<button class="btn btn-xs btn-danger">
								<i class="glyphicon glyphicon-trash" data-bind="click: $parent.removeCharacter"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div data-bind="component: { name: 'character-creater', params: { characterList: characters } }"></div>
		</div>
	</div>
</div>

<div data-bind="component: { name: 'character-viewer', params: { characterList: characters, selectedCharacter: selectedCharacter } }"></div>

